<div class="flex flex-col justify-center items-center h-screen w-screen">
    <div class="h-[70%] w-[90%] rounded-sm">
        <div class="flex w-full h-full shadow-md *:w-full gap-2 rounded-sm">
            <div 
                class="ml-1 md:h-[auto] lg:h-[100%] bg-slate-900 rounded-sm">
                <div class="grid grid-cols-2 m-8 text-white font-medium gap-12 p-4 ">
                    <h1 class="text-4xl col-span-2 text-center">Bem vindo(a) ao Cobrança fácil</h1>
                    <div class="col-span-2 ">
                        <img 
                        class=" rounded-sm"
                        src="https://img.freepik.com/fotos-premium/pesquisa-e-analise-do-empresario-usando-o-aplicativo-on-line-no-holograma-do-grafico-financeiro-do-telefone_269648-12741.jpg?w=1380" alt="foto" >
                    </div>
                </div>
                
            </div>
            <div class="mr-1 md:h-[500px] lg:h-min">
                <div class="p-4 lg:h-[calc(750px-80px)] shadow-lg">
                    <h1 class="text-4xl font-semibold text-center mb-2">Login</h1>
                        <form class="grid grid-cols-6 gap-4 m-8">
                            <div class=" col-start-3 col-span-2 row-start-1 flex flex-col gap-3">
                                <label>Email</label>
                                <input class="shadow-[0px_0px_1.8px_0px] p-2 outline-none" type="text" placeholder="email">
                            </div>
                            <div class="col-start-3 col-span-2 row-start-2 flex flex-col gap-3">
                                <label>Senha</label>
                                <input class="border shadow-[0px_0px_1.8px_0px] p-2 outline-none" type="password" placeholder="senha">
                            </div>
                            <div class="row-start-3 col-start-3 col-span-2">
                                <!-- <button class="bg-slate-950 text-center text-white font-semibold p-2 rounded-sm w-full">Entrar</button> -->
                                <button-shared></button-shared>
                            </div>
                            
                        </form>
                    </div>
            </div>
        </div>
    </div>
</div>